.btn-enter-chat {
  border-radius: 0;
}

.btn-enter-chat:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

.about-text {
  color: #8b8b8b;
}

.related-post-img {
  border-radius: 0.25rem;
  width: 8rem;
  height: 5rem;
  object-fit: cover;
}
